//Colors
$black: #333;
$orange: #FFB916;
$teal: #84EDD8;
$green: #95DD42;
$red: #F4734B;
$yellow: #F2F26D;

//Media Query
$xxs: 479px;
$xs : 767px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Anton', sans-serif;
$textFont: 'Lato', sans-serif;